@font-face {
  font-family: "Open Sans";
  src: url('./../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: "Open Sans Lite";
  src: url('./../fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: "Righteous";
  src: url('./../fonts/Righteous-Regular.ttf');
}
