@import '~bootstrap/scss/bootstrap';

#header {
  @extend .row;
  background: #769998;
  padding: 0;

  .logo {
    width: 75px;
    margin: 10px;
  }
}

#header-menu {

  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: end;

  ul {
    list-style: none;
    display: flex;
    height: inherit;

    li {
      padding: 0;
      margin-left: 10px;
      height: 100%;

      a {
        display: flex;
        height: inherit;
        padding: 60px 10px 0 10px;
        background: rgba(0, 0, 0, .3);
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        transition: background 250ms, border 1s;
        border-bottom: solid 3px transparent;

        &:hover, &.active {
          background: rgba(0, 0, 0, .2);
          border-bottom-color: rgb(103, 229, 251);
        }
      }
    }
  }
}
